.card-header {
  background-color: #f7f7f7;
  font-weight: bold;
}

.card {
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  white-space: normal;
}

.accordion-body {
  white-space: normal;
  word-break: break-word;
}

