.card-header {
  background-color: #f7f7f7;
  font-weight: bold;
}

.card {
  margin-bottom: 1rem;
  overflow-wrap: break-word;
  white-space: normal;
}

.card-text {
  font-weight: normal;
  font-size: 10px;
}

.list-group {
  font-size: 10px;
}

.accordion-body {
  white-space: normal;
  word-break: break-word;
}

.magnifyingGlassStyle {
  position: 'absolute';
  bottom: '10px';
  left: '10px';    
  color: 'white';  
  background-color: 'rgba(0, 0, 0, 0.5)'; 
  border-radius: '50%';
  padding: '5px';
};