.home-container {
    background-color: #F8F8F8;
}

/* .charts-container {
    padding-bottom: 15px;
} */

.chart-home-container {
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 10px 25px;
    min-height: 150px;
    padding-bottom: 10px;
}

.chart-header {
    display: flex;
    padding: 5px 0 0 20px;
    width: 95%;
}

.chart-header-label {
    margin-top: 9px;
}

.home-navigation-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 25px 0 0;
}

.evaluation-selector-container {
    margin-left: 35px;
    display: flex;
}

.evaluation-selector-label {
    margin-top: 7px;
    margin-right: 10px;
}

.evaluation-selector-holder {
    width: 250px;
}

.flex-chart-center svg {
    overflow: visible !important;
}

.center-text {
    width: 100%;
    text-align: center;
}