.layout {
    background-color: #F8F8F8;
}

.TableContainer {
    max-height: 70vh;
  }
  
.layout-board {
    margin-bottom: 10px;
    display: flex;
    background-color: #F8F8F8;
}

.nav-section, .nav-section-compare {
    border: 1px solid transparent;
    margin-left: 5px;
    border-radius: 8px;
    min-width: 275px;
}

.nav-header {
    background-color: #e3e7ea;
    display: flex;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 50px;
    padding: 12px 15px 0 15px;
    margin-top: 10px;
}

.nav-header-text {
    align-items: center;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #F8F8F8;
}

nav.MuiList-root.nav-list {
    width: 100%;
    position: relative;
    overflow: auto;
    max-height: 200px;
}

.nav-section-compare nav.MuiList-root.nav-list {
    max-height: 300px;
}

nav.MuiList-root.nav-list.MuiList-padding {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #FFFFFF;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.MuiButtonBase-root.MuiListItem-root.nav-list-item.Mui-selected {
    background-color: #99d6ff;
}

.test-overview-area {
    max-width: 80%;
    margin: 10px 20px;
    flex: 1;
}

.tableCellKey {
    width: 10%; 
    white-space: nowrap;
    border: 1px solid black;
}

.tableCellValue {
    white-space: normal; 
    word-wrap: break-word;
    max-width: 200px;
    border: 1px solid black;
}

.tableCellIcon {
    width: 10px !important;
    padding: 0 !important;
    min-width: 0 !important; 
    border-right: none !important;
}

.tableCellCommand {
    border-left: none !important;
}

.TableBodyScrollable {
    display: block;
}