.review-delegation-page .custom-btn {
  color: #602414;
  border-color: #602414;
  background-color: white;
  margin-left: 24px;
  margin-right: 32px;
  width: 80%;
}

.review-delegation-page .back-btn {
  color: #602414;
  border-color: #602414;
  background-color: white;
}

.review-delegation-page .custom-btn:hover,
.review-delegation-page .custom-btn:focus,
.review-delegation-page .custom-btn:active {
  background-color: #602414 !important;
  color: white !important;
  border-color: #602414 !important;
}

.review-delegation-page .subheader {
  background-color: #8B4513;
  color: white;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
}

.review-delegation-page .scenarioName {
  font-size: 20px;
}

.review-delegation-page .miniheader {
  background-color: white;
  color: #8B4513;
  border: 1px solid #8B4513;
  padding: 10px 15px;
  margin-top: 48px;
  margin-bottom: -8px;
  margin-left: 24px;
  border-radius: 4px;
  width: 95%;
}

.review-delegation-page .sd-body.sd-body--static {
  max-width: none;
}

.review-delegation-page .accordion {
  margin-bottom: 8px;
}

.review-delegation-page .action-item {
  font-size: 14px;
}