.resultTableSection {
    max-height: 75vh;
    border: 2px solid black;
    border-radius: 8px;
    margin: 12px;
    overflow: auto;
    position: relative;
}

.itm-table {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    border-collapse: separate;
    border-spacing: 0;
}

.itm-table th {
    background-color: rgb(88, 88, 115);
    color: white;
    border: 1px solid black;
    padding: 4px 8px 4px 12px;
    min-width: 200px;
    letter-spacing: 0.5px;
    font-weight: 400;
    border-bottom: 3px solid black;
}

.itm-table thead {
    position: sticky;
    top: 0;
    border-collapse: separate;
    z-index: 1;
}

.itm-table td {
    min-width: 200px;
    border: 1px solid grey;
    padding: 4px 8px 4px 12px;
}

.itm-table tr td:first-child,
.itm-table thead th:first-child {
    position: sticky;
    left: 0;
    border-right: 3px solid black;
}

.itm-table tr:nth-child(2n) td {
    background-color: lightgrey;
}

.itm-table tr:nth-child(2n+1) td {
    background-color: white;
}

.tableHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 12px 4px 12px;
}

.downloadBtn {
    border-radius: 4px;
    background-color: rgb(212, 212, 212);
    border: 1px solid black;
    color: black;
    height: 60px;
    font-size: 13px;
}

.downloadBtn:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    border: 1px solid black;
    color: black;
}

.downloadBtn:active {
    cursor: pointer;
    background-color: darkgrey !important;
    border: 1px solid black;
    color: white;
}

.option-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    padding-left: 10px;
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.filters>* {
    min-width: 150px;
    max-width: 200px;
}

.too-many-filters>* {
    min-width: 150px;
    max-width: 150px;
}

.filters .large-box {
    min-width: 220px !important;
}

.too-many-filters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 8px;
}

.largeInputs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.largeInputs>* {
    min-width: 240px !important;
    max-width: 300px !important;
}

.complexHeader {
    display: flex;
    gap: 8px;
}

@media only screen and (max-width: 1380px) {
    .too-many-filters {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, auto);
        gap: 8px;
    }

    .complexHeader {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}


#big-filter {
    min-width: 160px !important;
}

.filters button, .too-many-filters button, .largeInputs button {
    border: none !important;
    padding: 0px !important;
}

.filteredText {
    margin-left: 12px !important;
}

.downloadGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.results-download-btns .downloadBtn {
    max-height: 60px !important;
}

.progress-header {
    margin-left: 12px;
    margin-top: 18px;
}

.li-green-cell {
    background-color: rgb(194, 236, 194) !important;
}

.dk-green-cell {
    background-color: rgb(123, 188, 123) !important;
}

.white-cell {
    background-color: white !important;
}

.small-column {
    min-width: 100px !important;
}

.large-column {
    min-width: 220px !important;
}

.simple-toggles {
    display: flex;
    flex-direction: row;
    min-width: 200px !important;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 4px;
    max-height: 40px !important;
    justify-content: space-between;
}

.simple-toggles .MuiToggleButton-root {
    flex: 1;
}

.hide-header {
    background-color: transparent !important;
    border: none !important;
    float: right;
    border-radius: 50%;
    color: rgba(177, 176, 176, 0.87);
    padding-bottom: 4px;
}

.hide-header svg {
    font-size: 20px;
}

.hide-header:hover {
    background-color: rgba(215, 215, 215, 0.124);
}

.hide-header:active {
    background-color: rgba(215, 215, 215, 0.295);
    justify-content: space-between;
}

.rq134Header {
    position: relative;
    padding-bottom: 12px !important;
}

.rq134Header .hide-header {
    position: absolute;
    bottom: 0px;
    right: 8px;
}

.reset-btn {
    color: rgb(89, 38, 16);
    text-decoration: underline;
    margin-left: 8px;
    border-radius: 8px;
    padding: 2px;
}

.reset-btn:hover {
    cursor: pointer;
    background-color: rgba(239, 239, 239, 0.329);
}

.reset-btn:active {
    cursor: pointer;
    background-color: rgba(225, 223, 223, 0.603);
}

.lowered-table {
    margin-top: 40px;
}

.custom-toggle {
    background-color: #fdfdfd !important;
    color: #666666 !important;
    border: 1px solid #e0e0e0 !important;
    text-transform: none !important;
}

.custom-toggle.Mui-selected {
    background-color: rgba(89, 38, 16, 1) !important;
    color: #ffffff !important;
    font-weight: 600 !important;
}

.custom-toggle:hover {
    background-color: #2f508d !important;
    color: #fdfdfd !important;
}

.clear-btn {
    color: rgb(88, 88, 115);
}

.clear-btn:hover {
    cursor: pointer;
    color: rgb(188, 13, 13);
}

.status-bar {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 10 !important;
}