.selection-btn {
    background-color: transparent;
    border: 2px solid black;
    border-radius: 4px;
    padding: 4px 8px;
    margin: auto 8px;
}

.selection-btn:disabled {
    background-color: rgb(142, 142, 142);
    border: 2px solid rgb(73, 73, 73);
    color: white;
}

.selection-btn:hover:enabled {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

.selection-btn:active:enabled {
    background-color: rgb(199, 199, 199);
}

.button-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.selection-box {
    padding: 12px 8px 12px 24px;
    border-bottom: 1px solid black;
    margin-bottom: 12px;
    position: sticky;
    top: 0;
    background-color: #F8F8F8;
    z-index: 1;
}

.scenario-group {
    border: 1px solid black;
}

.singletons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.singletons>* {
    width: 50%;
    border-right: 1px solid black;
    padding: 8px;
}

.singletons>*:last-child {
    border-right: none;
}

.scenario-header {
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid black;
}

.sa-question-layouted {
    width: 100%;
}

.sa-toolbar {
    display: none;
}

.sa-visualizer__toolbar {
    display: none;
}

.sa-visualizer__footer {
    display: none;
}

.modebar-container {
    display: none;
}

.page-name {
    margin-left: 8px;
    text-decoration: underline;
}

.selection-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigateBtn {
    border-radius: 4px;
}

.navigateBtn:hover {
    cursor: pointer;
    background-color: rgb(204, 204, 204);
}

.navigateBtn:active {
    cursor: pointer;
    background-color: darkgrey;
    color: white;
}
.table-modal>.modal-body {
    background-color: white;
    margin: 20px 14px auto 14px;
    width: calc(100% - 28px);
    height: fit-content;
    padding: 12px;
    border: 2px solid black;
    border-radius: 12px;
}

.table-modal .modal-content {
    min-height: 60vh;
    height: fit-content;
}

.table-modal td,
.table-modal th {
    font-size: 14px;
}

.table-modal button {
    font-size: 16px;
}
.close-icon {
    padding: 10px 4px;
    border-radius: 100%;
}

.close-icon:hover {
    cursor: pointer;
    background-color: rgb(220, 219, 219);
}

.close-icon:active {
    cursor: pointer;
    background-color: rgb(195, 193, 193);
}
